[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/portaudio"]
	path = deps/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "deps/AudioFile"]
	path = deps/AudioFile
	url = https://github.com/adamstark/AudioFile
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
